.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  display: flex;
}

.board {
  max-width: 650px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.turns {
  justify-content: center;
  display: flex;
}

.cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.ptag {
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .container {
    height: 90vh;
    width: 90vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }

  .board {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .turns {
    justify-content: center;
    display: flex;
  }

  .cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
  .ptag {
    text-align: center;
  }
}
